@page "/Session"



@code {

}
<div class="form-container">
    <h2>Session Form</h2>
<form>
    <div class="row mt-2">
    <div class="col-md-3">
    <label for="sessionTitle">Session Title:</label>
    <input type="text" id="sessionTitle" name="sessionTitle" required>
    </div>
    <div class="col-md-3">
    <label for="start">Start:</label>
    <input type="datetime-local" id="start" name="start" required>
    </div>
    </div>

    <div class="row mt-2">
    <div class="col-md-3">
    <label for="end">End:</label>
    <input type="datetime-local" id="end" name="end" required>
    </div>
    <div class="col-md-3">
    <label for="remarks">Remarks:</label>
    <textarea id="remarks" name="remarks" rows="4" required></textarea>
    </div>
    </div>
    <div class="col-md-3">
    <input type="submit" value="Submit">
    </div>
</form>
</div>


<div class="container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Session Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Remarks</th>
                <th><button class="btn btn-success btn-By"><i class="bi bi-plus"></i></button></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right; padding-right: 50px;"></td>
                <td>
                    <button type="submit" class="btn btn-link btn-My"><i class="bi bi-pencil"></i></button>
                    |<button type="submit" class="btn btn-dangerous"><i class="bi bi-trash3" style=" color: red;margin-right:5px"></i></button>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td></td>

            </tr>
        </tfoot>
    </table>
</div>