@page "/Session"

@using System.IO;
@using AppliedStudent.Codes;
@using System.Data;
@using System.Data.SQLite;
@using System.Text;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Mvc;

@inject NavigationManager _navigationManager

@code {
}


<div class="form-container">
    <h2>Session Form</h2>
 <EditForm>
    <div class="row mt-2">

            <div class="input-group mb-3 mt-4">
                <label class="input-group-text" for="inputGroupSelect01">Session Title:</label>
            </div>

    <div class="col-md-3">
    <label for="start">Start:</label>
    <input type="datetime-local" id="start" name="start" required>
    </div>
    </div>

    <div class="row mt-2">
    <div class="col-md-3">
    <label for="end">End:</label>
    <input type="datetime-local" id="end" name="end" required>
    </div>
    <div class="col-md-3">
    <label for="remarks">Remarks:</label>
    <textarea id="remarks" name="remarks" rows="4" required></textarea>
    </div>
    </div>
    <div class="col-md-3">
            <button type="button" class="btn btn-success">Save</button>
    <input type="submit" value="Submit">
    </div>
</EditForm>
</div>


<div class="container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Session Title</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
                <th><button class="btn btn-success btn-By"><i class="bi bi-plus"></i></button></th>
            </tr>
        </thead>

        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td></td>

            </tr>
        </tfoot>
    </table>
</div>